/* src/App.css */

#root {
  max-width: 100%; /* Changed from 1280px to allow fullscreen */
  margin: 0 auto;
}

/* This is for the DASHBOARD page */
.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

/* This is for ALL OTHER pages */
.fullscreen-content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6rem 2rem 4rem 2rem; /* Added extra top padding for the "Back" button */
}