/* src/App.css */

#root {
  max-width: 100%; /* Changed from 1280px to allow fullscreen */
  margin: 0 auto;
}

/* This is for the DASHBOARD page */
.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 2rem; /* Added top padding */
}

/* This is for ALL OTHER pages */
.fullscreen-content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  /* Extra top padding to make room for the hidden nav */
  padding: 6rem 2rem 4rem 2rem; 
}